<div class="imageWithText">
  <div class="iwt-wrapper">
    
  </div>
</div>

{% schema %}
  {
    "name": "Image with Text",
	"tag": "section",
  	"class": "adv-imageWithText",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
