<div class="article-with-image">
  <div class="left-side">
    <div class="content-wrapper"></div>
  </div>
  <div class="right-side">
    <div class="right-slider"></div>
  </div>
</div>


{% schema %}
  {
    "name": "Article with Image",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
