<div class="popup-wrapper">
  <div class="popup-main">
    <div class="close-btn"></div>
  	<div class="klaviyo-form-S8tUWX"></div>

  </div>
</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
