<div id="section-{{ section.id }}" class="shopify-section-instagram">
<div class="custom-page-insta">
  <div class="insta-ticker">
    <a target="_blank" href="https://www.instagram.com/hylandsnaturals/">
      <marquee class="insta-marq" width="100%" direction="left" scrollamount="3">
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •   Follow us on Instagram @HylandsNaturals   •
</marquee>
    </a>
  </div>
  <div class="custom-insta-wrapper">
    <div id="insta-feed">
    </div>
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Instagram Feed",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
