<div class="imageWithText">
  <div class="iwt-wrapper">
  </div>
</div>



{% schema %}
  {
    "name": "Image With Text Section",
	"tag": "section",
    "class": "iwt-image-with-text",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
