<div class="faq-accordion">
  <div class="acc-wrapper">
    
  </div>
</div>



{% schema %}
  {
    "name": "FAQ",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
